<form>
    <div class="form-group">
        <label for="title">Título:</label>
        <input type="text" placeholder="Informe o título" required /> 
    </div>

    <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea placeholder="De uma breve resumo desse momento" required></textarea>
    </div>
    <div class="form-group">
        <label for="image">Adicione uma foto desse momento:</label>
        <input type="file">
    </div>
    <input type="submit" value="{{ btnText }}">
</form>